.infomation-container {
    width: 80%;
    padding: 0;
    margin: 15px 10%;
    font-size: 25px;
}

.info-block {
    display: inline-flex;
    flex-direction: row;
}

.info-text {

}

.info-img {
    width: 50%;
    height: auto;
}